<a href="https://colab.research.google.com/github/nacarvalentina/python-fundamentals/blob/main/VN_10_2_Movies_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movies Mini-project
---

In the previous worksheet you converted an SQL relational database to a single pandas dataframe and downloaded it. You will be analysing it today.

If you were unable to download the file, there is a copy located here: 

"https://github.com/lilaceri/Working-with-data-/blob/main/Data%20Sets%20for%20code%20divisio/movies.csv?raw=true"

### Inspect the dataset 
---

In [5]:
import pandas as pd
df=pd.read_csv("https://github.com/lilaceri/Working-with-data-/blob/main/Data%20Sets%20for%20code%20divisio/movies.csv?raw=true")
print(df.head())
print(len(df))

   Unnamed: 0 first_name    last_name  ...  year  rank        genre
0           0        Les  12 Poissons  ...  2002   NaN        Short
1           1    Lejaren     a'Hiller  ...  1920   NaN        Drama
2           2   Khairiya    A-Mansour  ...  1988   NaN  Documentary
3           3    Ricardo     A. Solla  ...  2001   NaN        Drama
4           4    Ricardo     A. Solla  ...  2001   NaN        Short

[5 rows x 7 columns]
368894

### Clean the dataset 
---

In [8]:
#remove duplicates
df1=df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
print(len(df1))                
                   
#remove NaN 
df2 = df.dropna()
print(len(df2)) 

#remove NaN from one column
df3= df.dropna(subset=['rank'])
print(len(df3))

368894
113376
113376

### How many movies of each genre are there?
---

In [12]:
print(df.groupby('genre').count())
#what if there are duplicates in the name of the movies?
#remove duplicates in th ecount???
print(df.groupby('genre').count().drop_duplicates())

             Unnamed: 0  first_name  last_name   name   year   rank
genre
Action            12890       12890      12890  12890  12890   5873
Adventure          8598        8598       8598   8598   8598   3932
Animation         17038       17038      17038  17038  17038   4727
Comedy            54667       54667      54667  54667  54667  20633
Crime             12610       12610      12610  12610  12610   4488
Documentary       35698       35698      35698  35698  35698   4296
Drama             72635       72635      72635  72635  72635  24696
Family            11074       11074      11074  11074  11074   4845
Fantasy            4871        4871       4871   4871   4871   2123
Film-Noir           429         429        429    429    429    415
Horror             7423        7423       7423   7423   7423   4227
Music              4444        4444       4444   4444   4444    908
Musical            6843        6843       6843   6843   6843   2491
Mystery            4951        4951       4951   4951   4951   2012
Romance           13562       13562      13562  13562  13562   5476
Sci-Fi             4957        4957       4957   4957   4957   2699
Short             72894       72894      72894  72894  72894   9894
Thriller          10681       10681      10681  10681  10681   5440
War                4398        4398       4398   4398   4398   1837
Western            8231        8231       8231   8231   8231   2364
             Unnamed: 0  first_name  last_name   name   year   rank
genre
Action            12890       12890      12890  12890  12890   5873
Adventure          8598        8598       8598   8598   8598   3932
Animation         17038       17038      17038  17038  17038   4727
Comedy            54667       54667      54667  54667  54667  20633
Crime             12610       12610      12610  12610  12610   4488
Documentary       35698       35698      35698  35698  35698   4296
Drama             72635       72635      72635  72635  72635  24696
Family            11074       11074      11074  11074  11074   4845
Fantasy            4871        4871       4871   4871   4871   2123
Film-Noir           429         429        429    429    429    415
Horror             7423        7423       7423   7423   7423   4227
Music              4444        4444       4444   4444   4444    908
Musical            6843        6843       6843   6843   6843   2491
Mystery            4951        4951       4951   4951   4951   2012
Romance           13562       13562      13562  13562  13562   5476
Sci-Fi             4957        4957       4957   4957   4957   2699
Short             72894       72894      72894  72894  72894   9894
Thriller          10681       10681      10681  10681  10681   5440
War                4398        4398       4398   4398   4398   1837
Western            8231        8231       8231   8231   8231   2364

### Which director has the highest ranked movies?
---

### How many movies have ranks of over 9?
---

### Plot a bar chart of mean rank and genre
---

### Plot a pie chart of how many movies of each genre there are 
---

### Plot a graph showing the mean Rank for each year

### What else can you find out from this dataset?
---
Make a plan of 3 further things you can do to interrogate and analyse this dataset

Type your answer here  

1.  
2.  
3.

### Complete the tasks you have set out in the exercise above. 
---

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: